<p id="notice"><%= notice %></p>

<p>
  <strong>Dateofvisit:</strong>
  <%= @appointment.dateofvisit %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @appointment.pet_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor_id %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
