<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
	  <th>ID</th>
      <th>Pname</th>
      <th>Dateofnextapp</th>
      <th>Reason</th>
      <th colspan="3"></th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
	    <td><%= customer.id %></td>
        <td><% customer.pets.each do|pet|%>
		         <%=pet.name%><br/>
				 <%end%></td>
        <td><%= customer.dateofnextapp %></td>
        <td><%= customer.reason %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<td><%= link_to 'New Pet', new_pet_path(:customer_id => customer.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
